<div class="p-5 lg:p-10 mt-10">
   <p class="text-gray-500 py-10">product/clothes/women/saree</p>

   <section class="lg:grid grid-cols-3 lg:gap-10">
       <div class="col-span-2 flex items-center flex-col">
          <img src="https://rukminim1.flixcart.com/image/612/612/xif0q/kurta/x/f/6/xxl-new-white-nofilter-original-imaghzggudfezpr8.jpeg?q=70" alt="">
       </div>
       <div class="col-span-1 space-y-10 mt-10 lg:mt-0">
          <div class="space-y-2">
             <p class="font-semibold text-gray-600 text-lg">Nofilter</p>
             <p class="text-xl ">Men Solid Pure cotton Straight Kurta</p>
          </div>
          <div class="flex items-center space-x-5">
             <p class="text-lg">$299</p>
             <p class="text-lg text-gray-700 line-through">$380</p>
             <p class="text-green-400 font-semibold text-lg">80%</p>
          </div>
          <div>
            <p class="text-lg font-semibold">size</p>
            <mat-radio-group
            class="space-x-5"
            aria-label="Select an option"
            [(ngModel)]="selectedSize"
            >
              <mat-radio-button value="S">
                <span>S</span>
              </mat-radio-button>
              <mat-radio-button value="M">
                <span>M</span>
              </mat-radio-button>
              <mat-radio-button value="L">
                <span>L</span>
              </mat-radio-button>
              <mat-radio-button value="XL">
                <span>XL</span>
              </mat-radio-button>
            </mat-radio-group>
          </div>

          <div>
            <button (click)="handleAddToCart()"
             style="padding: 1.5rem;"
             mat-raised-button
             color="accent"
             class="w-full">Add To Cart</button>
          </div>

          <div>
            <p class="text-gray-600">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit.
              Commodi enim architecto similique ratione facere. Soluta impedit
               qui ullam aut ducimus.
            </p>
            <p class="text-gray-600">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit.
              Commodi enim architecto similique ratione facere. Soluta impedit
               qui ullam aut ducimus.
            </p>
          </div>

       </div>
   </section>

   <section class="pt-20 pb-10 px-5 lg:px-20">
     <h1 class="font-semibold text-lg pb-4">Recent Review & Ratings</h1>
     <div class="border border-[#1a1a1a] rounded-md p-5">
        <div class="lg:grid grid-cols-12 gap-7">

           <div class="col-span-7">
             <div class="space-y-5">
              <div *ngFor="let item of reviews">
                <app-product-review-card/>
              </div>
             </div>
           </div>

           <div class="col-span-5 mt-10 lg:mt-0">
              <div class="box">
                <h1 class="text-xl font-semibold pb-1">Product Ratings</h1>
                <div class="flex items-center space-x-3 pb-10">

                  <app-star-rating />

                   <p class="opacity-60">46537 Ratings</p>
                </div>
                <div class="space-y-3">

                  <div>
                    <div class="grid grid-cols-12 justify-around items-center">
                      <div class="col-span-2">
                        <span>Excellent</span>
                      </div>
                      <div class="col-span-8 px-4">
                        <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
                      </div>
                      <div class="col-span-2">
                        <span class="opacity-50">12987</span>
                      </div>
                    </div>
                  </div>

                  <div>
                    <div class="grid grid-cols-12 justify-around items-center">
                      <div class="col-span-2">
                        <span>Very Good</span>
                      </div>
                      <div class="col-span-8 px-4">
                        <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
                      </div>
                      <div class="col-span-2">
                        <span class="opacity-50">9987</span>
                      </div>
                    </div>
                  </div>

                  <div>
                    <div class="grid grid-cols-12 justify-around items-center">
                      <div class="col-span-2">
                        <span>Good</span>
                      </div>
                      <div class="col-span-8 px-4">
                        <mat-progress-bar mode="determinate" value="60"></mat-progress-bar>
                      </div>
                      <div class="col-span-2">
                        <span class="opacity-50">16877</span>
                      </div>
                    </div>
                  </div>

                  <div>
                    <div class="grid grid-cols-12 justify-around items-center">
                      <div class="col-span-2">
                        <span>Average</span>
                      </div>
                      <div class="col-span-8 px-4">
                        <mat-progress-bar mode="determinate" value="20"></mat-progress-bar>
                      </div>
                      <div class="col-span-2">
                        <span class="opacity-50">11922</span>
                      </div>
                    </div>
                  </div>

                  <div>
                    <div class="grid grid-cols-12 justify-around items-center">
                      <div class="col-span-2">
                        <span>Poor</span>
                      </div>
                      <div class="col-span-8 px-4">
                        <mat-progress-bar mode="determinate" value="10"></mat-progress-bar>
                      </div>
                      <div class="col-span-2">
                        <span class="opacity-50">476</span>
                      </div>
                    </div>
                  </div>

                </div>

              </div>
           </div>

        </div>
     </div>
   </section>

   <section class="mt-10">
     <h1 class="py-5 text-gray-400">Related Products</h1>
     <div class="flex justify-around flex-wrap">
       <div *ngFor="let item of relatedProducts">
          <app-product-card  [product]="item"/>
       </div>
     </div>
   </section>

</div>
