<div class="fixed top-0 z-50 right-0 left-0 bg-[#69f0ae] text-gray-800 ">

    <div class=" px-5 lg:px-20 h-16 flex items-center justify-between">
      <div class="flex items-center">

        <div class="mr-5">
          <img src="https://res.cloudinary.com/ddkso1wxi/image/upload/v1675919455/Logo/Copy_of_Zosh_Academy_nblljp.png" class="w-8" alt="Ninoos">
        </div>

        <div class="">
          <div class="flex items-center space-x-4">
            <a routerLink="/" class="text-gray-800 font-semibold text-lg">Ninoos Shop</a>
            <div>
              <button class="open-button" (click)="openNavbarContent('men')" mat-button>Men</button>
            </div>
            <div>
              <button class="open-button" (click)="openNavbarContent('women')" mat-button>Women</button>
            </div>
          </div>
        </div>

      </div>

      <div class="flex items-center">
         <button (click)="navigateTo('cart')" mat-icon-button>
            <mat-icon>shopping_cart</mat-icon>
         </button>

         <button *ngIf="false" mat-raised-button color="accent">LOGIN</button>

         <div *ngIf="true" class="relative ml-3 flex items-center">
             <div class="flex items-center space-x-5">
                <span class="font-bold text-lg">Ashok</span>
                <button mat-button [matMenuTriggerFor]="profileMenu">
                  <img class="h-5 w-5" src="https://cdn.pixabay.com/photo/2015/03/04/22/35/avatar-659651_640.png" alt="">
                </button>
                <mat-menu #profileMenu="matMenu">
                  <button mat-menu-item (click)="navigateTo('account/orders')">Orders</button>
                  <button mat-menu-item>Profile</button>
                  <button mat-menu-item>Logout</button>
                </mat-menu>
             </div>
         </div>

      </div>
    </div>

    <div *ngIf="isNavbarContentOpen" class="modal-container absolute right-0 left-0">
      <app-nav-content [selectedSection] = "currentSection"/>
    </div>

  </div>




