<div class="bg-black text-white mt-10 text-center px-5 lg:px-20">
   <div class="container">
      <div class="py-3 flex justify-between">

        <div class="px-4">
            <h1 class="px-5 text-lg font-semibold text-gray-500">Company</h1>
            <p class="mb-2">Company</p>
            <p class="mb-2">about</p>
            <p class="mb-2">Blog</p>
            <p class="mb-2">Jobs</p>
            <p class="mb-2">Press</p>
            <p class="mb-2">Partners</p>
        </div>

        <div class="px-4">
          <h1 class="px-5 text-lg font-semibold text-gray-500">Company</h1>
          <p class="mb-2">Company</p>
          <p class="mb-2">about</p>
          <p class="mb-2">Blog</p>
          <p class="mb-2">Jobs</p>
          <p class="mb-2">Press</p>
          <p class="mb-2">Partners</p>
        </div>

        <div class="px-4">
        <h1 class="px-5 text-lg font-semibold text-gray-500">Company</h1>
        <p class="mb-2">Company</p>
        <p class="mb-2">about</p>
        <p class="mb-2">Blog</p>
        <p class="mb-2">Jobs</p>
        <p class="mb-2">Press</p>
        <p class="mb-2">Partners</p>
        </div>

        <div class="px-4">
      <h1 class="px-5 text-lg font-semibold text-gray-500">Company</h1>
      <p class="mb-2">Company</p>
      <p class="mb-2">about</p>
      <p class="mb-2">Blog</p>
      <p class="mb-2">Jobs</p>
      <p class="mb-2">Press</p>
      <p class="mb-2">Partners</p>
        </div>

      </div>
   </div>
</div>
