<div class="box">

  <div class="grid grid-cols-12 gap-3">
     <div class="col-span-3 lg:col-span-1">
       <div class="w-[3rem] h-[3rem]">
          <img
          class="w-full h-full rounded-full"
          src="https://img.faballey.com/images/Product/ILS00539Z/d3.jpg" alt="">
       </div>
     </div>

     <div class="col-span-6 lg:col-span-9">
       <div class="space-y-2">
          <div>
            <p class="font-semibold text-lg">codewithninos</p>
            <p class="opacity-70">Dec 3, 2023</p>
          </div>
          <div>

            <app-star-rating />

          </div>
          <p>
            nice product, i like white kurta
          </p>
       </div>
     </div>

  </div>

</div>
